@media only screen and (min-width: 80em){
    /*
    .label:after{
        content:"▾";
        display:inline-block;
        padding: 0 .5rem;
        width:20px;
        height:10px;
        color: #ff6600;
    }
    */
}